{% extends 'layout.html' %}
{% block main %}
{% for content in contents %}
    <div class="jumbotron">
        <h3><a href="view?contentid={{content.id}}&&category={{category}}">{{content.title}}</a></h3>
        <p class="colDefualt">
            作者：<span class="colInfo">{{content.user.username}}</span>
            - 时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s',-8*60)}}</span>
            <span style="float: right">&nbsp; - 阅读：<span class="colInfo" >{{content.views}}</span></span>
            <span style="float: right">&nbsp; - 评论：<span class="colInfo" >{{content.comments.length||0}}</span></span>
        </p>
        <p class="content">{{content.description}}</p>

    </div>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            {% if page==1 %}
            <li class="previous disabled"><a ><span aria-hidden="true">&larr;</span> 上一页</a></li>
            {% else %}
            <li class="previous "><a href='/?category={{category}}&page={{page-1}}'><span aria-hidden="true">&larr;</span> 上一页</a></li>
            {% endif %}
            {% if page>=pages %}
            <li class="next disabled"><a href='/?category={{category}}&page={{page+1}}'>下一页 <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
            <li class="next"><a href='/?category={{category}}&page={{page+1}}'>下一页 <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
            <li>一共{{pages}}页,当前第{{page}}页</li>
        </ul>
    </nav>
{% endblock %}
